.details {
  padding: 15px;
  width: 250px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 20px;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.details-file {
  text-decoration: none;
  font-size: 30px;
  color: #212529;
  flex-wrap: wrap;
}
.details-file:hover {
  color: #212529;
}

.details-body {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
