.file {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: white;
}

.file:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}
.file--active {
  border: 1px solid blue;
  background-color: rgb(227, 234, 247) !important;
}
